<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>presupuesto</title>
    <link rel="stylesheet" href="./../Css/estilos.css">
</head>
<body>
    <header>
        <nav>
             <p><a href="./../index.html"><img src="../Assets/imagine/Logoimagen.png" alt="Logo"></a></p>
            <div class="logo"><h2>Odiceaewp</h2></div>
                <ul>
                    <li><a href="./../index.html">Inicio</a></li>
                    <li><a href="./../view/producto.html">Productos</a></li>
                    <li><a href="./../view/presupuesto.html"><b>Presupuesto</b></a></li>
                    <li><a href="./../view/contacto.html">Contacto</a></li>
                </ul>
        </nav>
    </header>
<main>
    <section class="formulario">
        <h1>Solicita ya tu presupuesto</h1>
        <form action="#" method="post">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

             <label for="telefono">Telefono</label>
            <input type="tel" id="telefono" name="telefono" required>

             <label for="infomacion">Infomacion</label>
            <textarea id="infomacion" name="infomacion" required></textarea>

            <label for="privacidad">
                <input type="checkBox" id="privacidad" name="privacidad" required>Acepto politica de privacidad
            </label>

            <button type="submit">Enviar solicitud</button>
    
        </form>
    </section>
</main>
<footer>
    <p>Odiceaewp - Gran via 15 piso 8 Iz, Bilbao</p>
    <p><a href="https://www.instagram.com/">
        <img src="./../Assets/imagine/Instagram.png" alt="Instagram">
    </a></p>
    <p><a href="https://www.facebook.com/?locale=es_ES">
        <img src="./../Assets/imagine/Facebook.png" alt="Facebook">
    </a></p>
    <p><a href="https://empresas.infojobs.net/">
        <img src="./../Assets/imagine/infojobs.png" alt="InfoJobs">
    </a></p>
    <p><a href="./../view/avisolegal.html">Aviso legal</a></p>
</footer>
</body>
</html>